certifi==2025.4.26
charset-normalizer==3.4.2
filelock==3.13.1
fsspec==2024.6.1
hf-xet==1.1.0
huggingface-hub==0.31.1
idna==3.10
intel-cmplr-lib-rt==2025.0.4
intel-cmplr-lib-ur==2025.0.4
intel-cmplr-lic-rt==2025.0.4
intel-pti==0.10.1
intel-sycl-rt==2025.0.4
Jinja2==3.1.4
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
packaging==25.0
pillow==11.0.0
pytorch-triton-xpu==3.3.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
setuptools==70.2.0
sympy==1.13.3
tcmlib==1.2.0
tokenizers==0.21.1
torch==2.7.0+xpu
torchaudio==2.7.0+xpu
torchvision==0.22.0+xpu
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.12.2
umf==0.9.1
urllib3==2.4.0
